* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.bg-bball{
    background-color: rgb(250, 131, 32);
    font-family: Arial, Helvetica, sans-serif;    
    
}

.ball-image {
    width: 50px; 
    height:50px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-headings {
    margin-right: 15px;
}

.footer {
    background-color: rgb(250, 131, 32);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -50px;
}

.main {
    padding-top: 50px;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-head {
    text-align: center;
}

.col-size {
    max-height: 200px;
}

.team-card-container{
    min-height: 65vh !important;
}
.team-card{
    min-width: 250px;
}
.team-card .crypto-image{
    width:35px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width:1300px){
    .main{
        margin-left: 50px;
    }
}

@media screen and (max-width:1170px){
    .main{
        margin-left: 50px;
    }
}

@media screen and (max-width:1000px){
    .main{
        margin-left: 100px;
    }
}

@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;
    }

    .navbar{
        flex: 1;
    }

    .main{
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }
  
    .menu-control-container{
        display: block !important;
    }

    .ant-menu{
        position: absolute;
        right: 0px;
    }
    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
}

.player-detail-container{
    margin: 30px;
}

.player-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper {
    white-space: nowrap;
}

.data-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.data-card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: 6rem auto 8.1rem auto;
  width: 300px;
}


.TSA-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 500px;
    margin: 6rem auto 8.1rem auto;
    width: 300px;
  }

.data-card-header {
    margin-top: 25px; 
    
}

.graph-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 500px;
    margin: 6rem auto 8.1rem auto;
    width: 950px;
  }

  #teams-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 300px  1fr ;
      grid-template-areas: 
      "card card2 card3"
      "blank roster blank"
      "blank gamelog blank"
      "blank blank blank" ;

  }

  .teamLogo {
      width: 250px;
      height: 250px;
     
  }

  .teams-card{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 250px;
    margin: 2rem auto 8.1rem auto;
    width: 1000px;
    grid-column-start: 2;
    grid-column-end: 3;
    display: inline-grid;
    grid-template-columns: 250px 1fr 1fr;
}

.team-details-card{
    grid-column-start:2;
    grid-column-end:3;
    justify-self: center;
    align-self: center;
}

.teams-graph-card{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:3;
}

.span-header {
    display: inline;
}

.player-photo{
    width: 250px;
    height: 250px;
}

.gamelog-card{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end:3;
}

#home-grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 150px 500px 500px 1fr;
    column-gap: 10px;
    row-gap: 15px;
}

#home-text {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start:2;
    grid-column-end:3;
    justify-self: stretch;

}

.filler-text {
    font-size: 180%;
    text-align: left;
}

#home-image {
    grid-row: 2 / 3;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
}

.main-body {
    background-color: red;
}

.log-out{
    background-color: rgb(250, 131, 32);
}